<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Welcome to project manager app!
    </h1>
  </div>

 <a routerLink="/projects">Projects</a>
  <a style="margin-left: 10px" routerLink="/tasks">Tasks</a>
  <br/>
  <router-outlet></router-outlet>
</div>


